@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&family=Raleway:wght@300&family=Roboto+Mono:wght@300&family=Work+Sans:wght@300&display=swap');
:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
  --check-display:none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Quicksand';
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.counter-div{
  width: 40rem;
  box-shadow: 1px 2px 10px 4px #f5f5f5;
  padding: 1rem;
  background-color: white;
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
  text-shadow: 0px 0px 1px black;
}

.counter-div > *{
  margin-bottom:2rem ;
}

.clrText{
  font-size: 4rem;

}



hr 
{
color: black;
border: none;
border-top: 2px solid black;
margin-top: 2rem;
}

.buttons button{
  padding: 1rem;
  width: 40%;
  margin: 0 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}



button.copy{
  background-color: transparent;
  width: 20%;
  border: 2px solid black;
  position: relative;
}

button.copy::before{
  content: "Copied!";
  position: absolute;
  top: -45px;
  left: 0px;
  background-color: white;
  padding: 8px 8px;
  font-size:inherit;
  border-radius: 6px;
  /* display: var(--check-display); */ 
  display: none;

}

.copy.active::before{
  display: block;
}

/* .tooltip{
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;


  opacity: 0;
  transition: opacity 0.3s;
} */

button.refreshClr{
  background-color: transparent;
  width: 60%;
  border: 2px solid black;
}

